<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Public cloud</title>
    </head>
    <body>
        <ul>
            <li>{{.Name}} - {{.Description}}</li>
        </ul>
    </body>
</html>